---
layout: layouts/base.njk
pagination:
  data: collections.posts
  reverse: true
  size: 10
permalink: "/{{ pagination.pageNumber | getPermalinkForHomePage }}"
---
		{% block head %}
        {%- include 'stockmeta.njk' %}
        <link rel="canonical" href="https://blog.terrible.dev/">
		{% endblock %}

{% for post in pagination.items %}
				{% include "postSummary.njk" %}
{% endfor %}
	<div class="bottomNavButtons">
      {% if pagination.href.previous %}
            <a href="{{ pagination.href.previous }}" class="btn">&#8592; Previous Page</a>
      {% endif %}
			<div class="spacer"></div>
        {% if pagination.href.next %}
					<a href="{{ pagination.href.next }}" class="btn">Next Page &#8594;</a>
        {% endif %}
	</div>
