---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/base.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---
{% set postslist = collections[ tag ] %}
{% for post in postslist %}
				{% include "postSummary.njk" %}
{% endfor %}

<p>See <a href="/all-tags/">all tags</a>.</p>
