---
permalink: /all-tags/
layout: layouts/base.njk
---
<h1>Tags</h1>

{% block head %}
    {%- include 'stockmeta.njk' %}
    <link rel="canonical" href="https://blog.terrible.dev/all-tags/" />
{% endblock %}

<ul>
{% for tag in collections.all | getAllTags | filterTagList %}
	<a href="/tags/{{ tag | slugify}}" class="btn block">{{ tag }}</a>
{% endfor %}
</ul>
