<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>{{ title or metadata.title }}</title>
		{% include './meta.njk' %}
    <meta name="theme-color" content="#4A4A4A" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="alternate" type="application/atom+xml" title="RSS" href="/rss.xml">
    <link rel="manifest" href="/manifest.json">
    <meta name="author" content="Tommy &quot;TerribleDev&quot; Parnell" />
    <link rel="icon" href="/favicon.ico" />
		{%- css %}{% include "../../content/css/site.css" %}{% endcss %}
		{%- css %}{% include "../../content/css/site.mobile.css" %}{% endcss %}
		{%- css %}{% include "../../content/css/site.desktop.css" %}{% endcss %}
		{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
    <link rel="stylesheet" href="{% getBundleFileUrl "css" %}" />
		{% block head %}
		{% endblock %}

</head>
<body>
  <a class="skip-main" href="#main">Skip to main content</a>
  <div class="rootbox">
      <header class="header">
          <svg aria-label="Open Menu" onclick="toggleNav()" id="menuBtn" role="button" xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M4 10h24c1.104 0 2-.896 2-2s-.896-2-2-2H4c-1.104 0-2 .896-2 2s.896 2 2 2zm24 4H4c-1.104 0-2 .896-2 2s.896 2 2 2h24c1.104 0 2-.896 2-2s-.896-2-2-2zm0 8H4c-1.104 0-2 .896-2 2s.896 2 2 2h24c1.104 0 2-.896 2-2s-.896-2-2-2z"/></svg>
          <div class="headerCallout"><a href="/" class="link-unstyled ">{{ metadata.title }}</a></div>
      </header>
					{% include './nav.njk' %}
          <main class="headerBump main-content-wrap" id="main">
                  {{ content | safe }}
          </main>
      </div>
    </div>
    {# <script src="{{ '../../content/js/swi.js' | url }}"></script> #}
    {%- js %}{% include "../../content/js/swi.js" %}{% endjs %}
    <script src="{% getBundleFileUrl "js" %}" async></script>
		{% block scripts %}
		{% endblock %}
</body>
</html>
