---
layout: layouts/base.njk
---

    {%- set summerizedPost = content | summerizePost %}
		{%- block head %}
      <meta name="description" content="{{ summerizedPost }}" />
      <meta property="og:type" content="blog">
      <meta property="og:title" content="{{ title }}">
      <meta property="og:url" content="{{ url }}">
      <meta property="og:site_name" content="{{ metadata.title }}">
      <meta property="og:description" content="{{ content | summerizePost | nohtml }}">
      <meta property="og:updated_time" content="{{ date | htmlDateString}}">
      <meta name="twitter:card" content="summary">
      <meta name="twitter:title" content="{{ title }}">
      <meta name="twitter:description" content="{{ content | summerizePost | nohtml }}">
      <meta name="twitter:site" content="@@TerribleDev">
      <meta name="twitter:creator" content="@@TerribleDev">
      <link rel="canonical" href="{{ url }}" />
		{% endblock %}

<article itemprop="blogPost">
    <h1 itemprop="headline" class="headline">{{ title }}</h1>
    <time class="headlineSubtext" itemprop="datePublished" datetime="{{ date | htmlDateString }}">{{ date | readableDate}}</time>
    {{ content | safe}}
    {%- if tags | filterTagList %}
        <div>
            <span>Tagged In:</span><br />
            {%- for tag in tags | filterTagList %}
                <a href="/tag/{{ tag | slugify }}" class="btn block">{{ tag }}</a>
            {%- endfor %}
        </div>
    {%- endif %}

</article>

